@media (max-width: 1000px) {
    
    .section1-content{
      width: 50%;
      margin-bottom: 50px;
    }
    .section-title h2{
        font-size: 20px;
      }

  }
  @media (max-width: 670px) {
    .section1-content {
        width: 100%;
        margin-bottom: 50px;
        flex-direction: column;
        margin: 0 auto;
    }
}