/* tablet */
@media (max-width: 1000px) {
  .display {
    font-size: 100px;
    line-height: 96px;
  }

  .container-hero {
    height: 100vh;
    padding-bottom: 120px;
  }

  .hero-text,
  .hero-img {
    width: 100%;
  }

  .hero-text {
    padding: 80px 0 0 40px;
  }

  .hero-img {
    align-self: flex-end;
    justify-content: flex-end;
  }

  .hero-img img,
  .hero-img-bg {
    width: 100%;
    height: auto;
  }
  
  .quote-image {
    margin-top:40px;
    padding-left:0px;
    width: 350px;
    height: 240px;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

/* smartphone */
@media (max-width: 670px) {
  .display {
    font-size: 80px;
    line-height: 80px;
  }

  .container-hero {
    height: fit-content;
    padding-bottom: 80px;
  }

  nav {
    padding: 24px 16px;
  }

  .hero-content {
    flex-direction: column-reverse;
  }

  .hero-text {
    padding: 0 16px;
  }

  .tagline {
    text-align: center;
  }

  .cta {
    justify-content: center;
  }

  .hero-img img,
  .hero-img-bg {
    width: 90%;
    height: auto;
  }
  
  .quote {
    flex-direction: column-reverse;
  }
  
  .blockquote h4{
    font-size: 12px;
  }
  .blockquote h6{
    font-size: 8px;
    margin-left:150px;
  }
  .quote-image {
  width: 350px;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  }
}
