/* font import */
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* reset css */
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}
/* end reset css */

body {
  background-color: #707070;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.display {
  font-family: 'Tangerine', cursive;
  font-size: 140px;
  line-height: 120px;
  font-weight: bold;
  color: #e0e0e0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #e0e0e0;
}

h1 {
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-size: 39px;
  line-height: 40px;
}

h3 {
  font-size: 31px;
  line-height: 32px;
}

h4 {
  font-size: 25px;
  line-height: 32px;
}

h5 {
  font-size: 20px;
  line-height: 32px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
}

p.small {
  font-size: 14px;
  color: #b8b8b8;
}

.m-8 {
  height: 8px;
  width: 8px;
}

.m-16 {
  height: 16px;
  width: 16px;
}

.m-80 {
  height: 80px;
  width: 80px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 40px;
  background: rgb(35, 37, 38);
  background: linear-gradient(
    321deg,
    rgba(35, 37, 38, 1) 0%,
    rgba(65, 67, 69, 1) 100%
  );
}

.container-hero {
  height: 900px;
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0;
  background: rgb(35, 37, 38);
  background: linear-gradient(
    321deg,
    rgba(35, 37, 38, 1) 0%,
    rgba(65, 67, 69, 1) 100%
  );
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 40px;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 40px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-text,
.hero-img {
  max-width: 548px;
}

.hero-text {
  padding: 160px 0 0 40px;
}

.cta {
  display: flex;
  align-items: center;
}

.cta-animation {
  position: relative;
}

@keyframes cta-icon {
  0% {
    top: -6px;
  }

  100% {
    top: 6px;
  }
}

.cta-animation svg {
  opacity: 0;
}

.cta-animation svg.absolute {
  position: absolute;
  opacity: 1;
  left: 0;
  z-index: 1;

  animation-name: cta-icon;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.hero-img {
  padding: 0;
  display: flex;
  justify-content: right;
  position: relative;
}

.hero-img img {
  z-index: 2;
}

.hero-img-bg {
  position: absolute;
  opacity: 0.8;
  filter: blur(160px);
  z-index: 1;
}
